* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
/*    position: relative;*/
}

body {
    background: #ffffff;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #01233c;
    text-decoration: none;
    background-color: transparent;
}

p {
  width: 100%;
  height: 100%;
  color: #c3d4ca;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a:hover {
    color: #c3d4ca;
}


.container {
  max-width: none;
  max-height: none;
}

.row{
  margin: 2px;
}

/* .row-data {
  flex: none;
}

.col-btn {
  margin: 1px;
  padding: 0;
  min-width: none;
  min-height: none;
}

.lbl{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: left;
  color: #01233c;
  vertical-align: bottom;
}

.act-layer {
  position: absolute;
  z-index: 1;
}

.btn-topbar {
  height: 30px;
  width: 100%;
  font-size: 10px;
  background-color: #c3d4ca;
  border: none;
  color: #01233c;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
}

.btn-dist {
  height: 100%;
  width: 30%;
  font-size: 12px;
  background-color: #c3d4ca;
  border: none;
  color: #01233c;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
}

.btn-dist-sel {
  background-color: #01233c;
  color: #c3d4ca;
}

.btn-search {
  height: 30px;
  width: 30px;
  font-size: 10px;
  background-color: #01233c;
  border: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
}

.btn-adr {
  height: 30px;
  width: 100%;
  font-size: 10px;
  background-color: #ffffff;
  border: none;
  color: #01233c;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #01233c;
}

.form-search{
  height: 30px;
  width: 100%;
  font-size: 15px;
  background-color: #01233c;
  border: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 15px;
}

.btn-data-board {
  color: #01233c;
  text-align: center;
  vertical-align: middle;
}

.col_menu {
  height: 100%;
}

.fa-user {
  display: inline-block;
  width: 100%;
}

.mapBox {
    /* height: 200px; */
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.data-board {
  z-index: 1;
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #01233c;
  background-color: #ffffff;
  opacity:0.8;
  display: none;
  overflow-y: hidden;
}

.data-board-header {
  height: 150px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.custom-scrollbar-css {
  overflow-y: auto;
}

.custom-scrollbar-js, .custom-scrollbar-css {
  height: 500px;
}

.custom-scrollbar-css::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border: 1px solid #01233c;
  border-radius: 3px;
  background-color: #01233c;
}

.custom-scrollbar-css::-webkit-scrollbar-track {
  border: 1px solid #01233c;
  border-radius: 3px;
  background-color: rgba(0,0,0,0);
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #01233c;
}

.logo{
  height: 30px;
  width: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.row-header {
  width: 100%;
  height: 35px;
}

.row-foot{
  width: 100%;
  height: 70px;
}

.card {
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0,0,0,0);
  background-clip: border-box;
  border: 1px solid #01233c;
  border-radius: 15px;
}

.card-active {
  background-color: #c3d4ca;
}

#btn-user{
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  color: #01233c;
  background: rgba(0,0,0,0);
  font-size: 20px;
}

.btn-star{
  width: 100%;
  height: 100%;
  min-width: 20px;
  min-height: 20px;
  font-size: 20px;
  color: #01233c;
  padding: 0;
  margin: 0;
  background: rgba(0,0,0,0);
} */

#map {
    height: 100%;
    width: 100%;
    border-left: 1px solid rgb(208, 211, 217);
}
